# SLACK_API_TOKEN: xoxb-1234-1234-abc #bot
# SLACK_API_TOKEN: xoxp-1234-1234-1234-abc # me
# SLACK_API_TOKEN: xoxp-1234-1234-1234-abc # another user
SLACK_CLIENT_ID:
SLACK_CLIENT_SECRET:
SLACK_APP_ID: "1234.1234"
SLACK_APP_SECRET: abc123
