SLACK_API_TOKEN: xoxb-1234-1234-abc #bot
# SLACK_API_TOKEN: xoxp-1234-1234-1234-abc123 # me
# SLACK_API_TOKEN: xoxp-1234-1234-1234-abc123 # another user
SLACK_API_DEF_TOKEN: xoxp-1234-1234-1234-abc123
SLACK_CLIENT_DEF_ID: "1234.1234"
SLACK_CLIENT_DEF_SECRET: abc123
SLACK_APP_ABC_ID: "1234.1234"
SLACK_APP_ABC_SECRET: abc123
